<div class='about-box'>
          <div class="about-text">
            <h1>About Us</h1>
            <h6>AlRaedah Finance</h6>
            </div>
          </div>
<div class='about-content'>                   
<p>AlRaedah Finance is the pioneer of bespoke solutions for small and medium sized enterprises (“SMEs”) seeking to achieve long-term, sustainable growth. Since its establishment in 2014, AlRaedah has become the principal financing institution for SMEs in the Kingdom of Saudi Arabia. Our success is built on our simple and transparent process, our in-depth understanding of the local market, and our flexible financing programs.</p>
<p>
AlRaedah Finance offers the most extensive coverage for Sharia’h compliant financing solutions within the Kingdom, with its headquarters located in Riyadh, a branch office in Burayda, and aggressive digital expansion plans. Our ease of accessibility ensures that we maintain our position within the financial services sector.
</p>
<h1 style="color:#4b82bc";>Small Businesses Love AlRaedah</h1>
<p>
Why? Because we’ll help you find the right financing solution for your business and provide great service along the way</p>

<h1 style="color:#4b82bc";>A Company you Can Trust</h1>
<p>
The Company is rated very highly amongst its peer group and it clients by providing a transparent process</p>

<h1 style="color:#4b82bc";>A Fast, Simple Application Process</h1>
<p>
We’ve simplified the financing process by focusing on the business health, not just personal credit.</p>

<h1 style="color:#4b82bc";>100% Focused on Small Business</h1>
<p>
We’ve devoted our business to helping Small Business, understanding that all businesses are not created equal. We have funded small businesses across the Kingdom because we go to where you are</p>
</div>
 


