// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about-text {
  font-size: 24px;
  color: aliceblue;
}
.about-box {
  border-radius: 10px;
    box-shadow: 4px 4px 12px 0 rgba(0,0,0,.16);
    background-color: rgba(29,66,138,.78);
    max-width: 250px;
    padding: 45px 65px 18px;
    margin-bottom: 4em;
    margin-top: 0em;
}

.about-content {
  font-size: 23px;
  color: #5c5f62;
  line-height: 1.43;
  letter-spacing: .45px;
  padding-bottom: 30px;
  margin-bottom: 0;
}
